
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My name is harsh </h1>
    <p>My first django project</p>
    <h1 style="font-family: Helvetica; font-style: italic; border-radius: 2px; border: solid  4px red;">harsh</h1> 
    <form action="{% url 'count' %}">
        <textarea cols="40" rows="5" name="fulltext"></textarea>
        
        <br>
        <textarea cols="40" rows="5" name="full"></textarea>
        <br>
        <input type="submit" value="Count">
        <button style="border: solid 4px green;">Submit</button>

    </form>

    <a href="{% url 'about' %}">ABOUT</a>


</body>
</html>